


 @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

 :root{
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem   1.5rem rgba(0,0,0,.1);
 }


 *{
    font-family: 'Aboreto', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    
    transition: all .2s linear;
 }

 .swipetext{
    color: wheat;
    font-size: 16px;
 }

html{
    font-size: 65.5%;
    overflow-x: 12px;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}


section{
    padding: 2rem;
 
}


header .logo{
    color: #CCF381;
    font-size: 32px;
    font-weight: bolder;  
}

header .logo i{
    color: #CCF381;
}



header .logo i:hover{
    color: #4831D4;
    transition: .3s;
    transform: scale(1,1);
    cursor: pointer;
    
}



header .icons i{
    color: transparent;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    display: none;
}





header .navbar a{
    margin-right: 20px;
    font-size: 12px;
    border-radius: 10px 0px 10px 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   
}

header .navbar a.active,

header .navbar a:hover{
    color: #4831D4;
    background-color: #CCF381;
    transition: .3s;
    transform: scale(1,1);
    cursor: pointer;
 
    
}

.swiper mySwiper home-container{
    display: flex;
    flex-wrap: wrap;

}

.swiper-wrapper wrapper{
    display: flex;
    flex-wrap: wrap;

}

.home-slide{
    padding-top: 8rem;
    align-items: center;
    background-color: #3D155F;
}




.slide{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

.content{
    flex: 1 1 45rem;
}

.images{
    width: 100% ;
}

span{
    color: #CCF381;
    font-size: 2rem;
    font-weight: bold;
}

.aaa{
    color: #4831D4;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 8px ;
    
}


.btn{ 
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px 0px 10px 0px;
    display: inline-block;
    background-color: #CCF381;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: #4831D4;
    transform: scale(1,1);
    transition: .3s;
}



.heading, .sub-heading{
    color: #27ae60;
    text-align: center;
    padding-top: 16px;
    
}


.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}


.box{
    display: flex;
    background: 2rem;
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
    border: 1 rem solid rgba(0,0,0,.2);
    box-shadow: #192a56;
    text-align: center;
}


.imgbox{
    display: grid;
    align-items: center;
}

.our{
    color: #27ae60;
    text-align: center;
    font-size: 32px;
    padding: 16px;
}
.Popular{
    color: white;
    font-size: 16px;
    text-align: center;
    text-transform: lowercase ;
    padding: 10px;

}

.dishes{
    background-color: #4831D4;
}


.dishes-container{
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
   gap: 2rem;
   margin: 32px;
}

.imggrid{
    height: 180px;
    width: 180px;
    margin-left: 30px ;

    
}

.box{
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 10px 0px 10px 0px;
    border: 2rem;
    position: relative;
    overflow: hidden;
    text-align: center;
}


.fa-heart{
    position: absolute;
    border-radius: 50%;
    top: 1.5rem;
    right: 1.5rem;
    color: red;
    font-size: 1.1rem;
    background-color: rgb(238, 237, 237);
    padding: 8px;
    line-height: 5rem;

}

.fa-eye{
    left: 1.5rem;
    position: absolute;
    border-radius: 50%;
    top: 1.5rem;
    font-size: 1.1rem;
    background-color: rgb(238, 237, 237);
    padding: 8px;
    line-height: 5rem;
}

.amala{
    font-size: 10px;
    position: absolute;
    bottom: 3.5rem;
    right:2.5rem;
}

.star{
    font-size: 8px;
    position: absolute;
    bottom: 2.2rem;
    right: 1.5rem;
    color: red;
}

.price{
    color: black;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 3rem;
    bottom: 4.5rem;
}

.ordernow{
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    border-radius: 10px 0px 10px 0px;
    color:white;
    padding: 8px;
    background: #4831D4;
}

.ordernow:hover{
   background-color: #CCF381;

}







.aboutrow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.imagesabout{
    flex: 1 1 45rem;
}

.imagesabout img{
    width: 100%;
}


.aboutcontent{
    flex: 1 1 45rem;
}

.aboutcontent h3{
    padding: 16px;
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-transform: lowercase;
}

.aboutcontent p{
    padding: 16px;
    font-size: 10px;
    color: white;
}

.aboutx{
    background-color: #3D155F;
}


.aboutspan{
    color: white;
    font-size: 12px;
}

.icons-container{
    display: flex;
    padding: 16px;
    gap: 2rem;
    flex-wrap: wrap;
}

.iconsabout{
    padding: 10px;
    background-color: #4831D4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 10rem;
    gap: 2rem;
    border-radius: 10px 0px 10px 0px;
}

.iconsabout:hover{
    background-color: #27ae60;
    cursor: pointer;

}


.review{
    background-color: #4831D4;
}


.userimg{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.user{
    gap: 1.5rem;
    display: flex;
    padding: 16px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
}

.username{
    color: black;
    font-size: 16px;
    padding-bottom: 10px;

}

.review-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.review-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 32px;
    padding-right: 32px;
    

}


/* Address sections */










 

/*media queries */

@media (max-width:991px){

    html{
        font-size: 65%;

    }
    header .logo{
        color: #CCF381;
        font-size: 25px;
        font-weight: bolder;  
    }

    section{
        padding: 1rem;
     
    }

}

@media (max-width:760px){

    html{
        font-size: 65%;

    }

    section{
        padding: 1rem;
     
    }



    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        border-top: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        color: #CCF381;
        font-size: 25px;
        font-weight: bolder;  
        clip-path: circle(0% at 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0)
   
   
    }

    header .navbar.open{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }


    header .navbar a{
        display: block;
        padding: 16px;
        margin: 1rem;
        padding: 1.5rem;
        color: #4831D4;
    }
    header .icons i{
        color: #4831D4;
        border-radius: 50%;
        background-color: #CCF381;
        cursor: pointer;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        display: inline-block;
    }
    header .icons i:hover{
        color: #CCF381;
        background-color: #4831D4;
        transform: rotate(360deg);
        transition: .3s;

    }
    


}

@media (max-width:570px){

    html{
        font-size: 40%;

    }


    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        border-top: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        color: #CCF381;
        font-size: 25px;
        font-weight: bolder; 

    }
    header .navbar a{
        display: block;
        padding: 16px;
        margin: 1rem;
        padding: 1.5rem;
        color: #4831D4;
    }
    header .icons i{
        color: #4831D4;
        border-radius: 50%;
        background-color: #CCF381;
        cursor: pointer;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        display: inline-block;
    }
    header .icons i:hover{
        color: #CCF381;
        background-color: #4831D4;
        transform: rotate(360deg);
        transition: .3s;

    }


}










