{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static '\main\style.css' %}">




    <!--Add font to the project-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">


</head>
<body>
  
    <!-- {% if request.user.is_authenticated %}
<h3>Hello, {{request.user}}</h3>
<button type="submit" ><a href="{% url 'logout' %}">logout</a></button>
{% endif %} -->

<!--This is the header-->

<header>
    <a href="#" class="logo"><i class="fas fu-untensils"></i>Oluwaseun</a>
    <nav class="navbar" id="navid">
        <a class="active" href="#home" id="home">Home</a>
        <a href="#about" id="about">About</a>
        <a href="#portfolio" id="portfolio">Portfolio</a>
        <a href="#blog" id="blog">Blog</a>
        <a href="#contact" id="contact">Contact</a>
    </nav>
    <div class="icons"><i class="fas fa-bars" id="bars"></i></div>

</header>

<!--End of Header-->

<!-- 
home section starts -->

<section class="home" id="homeid">

    <div class="home-container">
        <div class="wrapper">
            <div class="slide">
                <div class="content">
                    <span>Our Special dish</span>
                    <h3>Spicy Spaghetti</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa nisi asperiores. Quia, repellendus nam in voluptatum sint aliquid,
                         Provident</p>
                         <a href="#" class="btn"></a>
                </div>
                <div class="images">
                    <img src="{% static '\spag1.png' %}" alt="">
                </div>
            </div>


            <div class="slide">
                <div class="content">
                    <span>Our Special dish</span>
                    <h3>Chinese Rice</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa nisi asperiores. Quia, repellendus nam in voluptatum sint aliquid,
                         Provident</p>
                         <a href="#" class="btn"></a>
                </div>
                <div class="images">
                    <img src="{% static '\spag1.png' %}" alt="">
                </div>
            </div>


            <div class="slide">
                <div class="content">
                    <span>Our Special dish</span>
                    <h3>Noodles</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa nisi asperiores. Quia, repellendus nam in voluptatum sint aliquid,
                         Provident</p>
                         <a href="#" class="btn"></a>
                </div>
                <div class="images">
                    <img src="{% static '\spag1.png' %}" alt="">
                </div>
            </div>


            <div class="slide">
                <div class="content">
                    <span>Our Special dish</span>
                    <h3>Noodles</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa nisi asperiores. Quia, repellendus nam in voluptatum sint aliquid,
                         Provident</p>
                         <a href="#" class="btn"></a>
                </div>
                <div class="images">
                    <img src="{% static '\spag1.png' %}" alt="">
                </div>
            </div>

        </div>
    </div>

</section>



<!-- home section ends -->















    <!--Custom JS file -->
    <script src="{% static '\main\script.js' %}"></script>


</body>
</html>




<!-- <div class="hero">
    <nav>
        <h2 class="logo">Oluwaseun<span> T</span></h2>
        <ul>
            
            <li>
                <a href="#">Home</a>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="#">{{request.user}}</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
        <button type="button" onclick=>Subscribe</button>
    </nav>
</div> -->