{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static '\main\style.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>




    <!--Add font to the project-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">


</head>
<body>
  
    <!-- {% if request.user.is_authenticated %}
<h3>Hello, {{request.user}}</h3>
<button type="submit" ><a href="{% url 'logout' %}">logout</a></button>
{% endif %} -->

<!--This is the header-->

<header>
    <a href="#" class="logo"><i class="fas fu-untensils"></i>Oluwaseun</a>
    <nav class="navbar" id="navid">
        <a class="active" href="#home" id="home">Home</a>
        <a href="#dishes" id="dishes">Dishes</a>
        <a href="#about" id="about">About</a>
        <a href="#order" id="blog">Order</a>
        <a href="#contact" id="contact">Contact</a>
    </nav>
    <div class="icons"><i class="fas fa-bars" id="bars"></i></div>

</header>

<!--End of Header-->

<!-- 
home section starts -->

<section class="home-slide" id="homeid">
 
    <div class="swiper mySwiper home-container">
        <div class="swiper-wrapper wrapper">


            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our Special dish</span>
                    <h3 class="aaa">Spicy Spaghetti</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa nisi asperiores. Quia, repellendus nam in voluptatum sint aliquid,
                         Provident</p>
                         <a href="#" class="btn">Order Now</a>
                </div>
                <div class="images">
                    <img src="{% static '\noodles1.png' %}" alt="">
                </div>
                
            </div>



            
            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our Special dish</span>
                    <h3 class="aaa">Spicy Spaghetti</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa nisi asperiores. Quia, repellendus nam in voluptatum sint aliquid,
                         Provident</p>
                         <a href="#" class="btn">Order Now</a>
                </div>
                <div class="images">
                    <img src="{% static '\rice1.png' %}" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our Special dish</span>
                    <h3 class="aaa">Noodles</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa nisi asperiores. Quia, repellendus nam in voluptatum sint aliquid,
                         Provident</p>
                         <a href="#" class="btn">Order Now</a>
                </div>
                <div class="images">
                    <img src="{% static '\spag1.png' %}" alt="">
                </div>
                
            </div>


            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our Special dish</span>
                    <h3 class="aaa">Noodles</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa nisi asperiores. Quia, repellendus nam in voluptatum sint aliquid,
                         Provident</p>
                         <a href="#" class="btn">Order Now</a>
                </div>
                    <div class="images">
                    <img src="{% static '\pizza1.png' %}" alt="">
                    </div>
            </div>
            

        </div>

        <div class="swiper-pagination"></div>
    </div>

</section>



<!-- home section ends -->



<!-- 

dishes section starts -->


<section class="dishes" id="dishes">

    <h1 class="our" id="ourid">Our Dishes</h1>
    <h3 class="Popular" id="popularid">Popular Dishes</h3>

    <div class="dishes-container" id="containerid">
       
    
        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\beef1.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>


        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\chicken.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>


        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\burger.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>


        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\noodles1.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>


        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\pizza1.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>



        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\prawns.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>



        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\rice1.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>


        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\rice1.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>


        <div class="box" id="boxid">
            <a href="#" class="fas fa-heart">
            <a href="#" class="fas fa-eye"></a>
            <img class="imggrid" src="static\rice1.png" alt="amala">
            <h3 class="amala" id="amalaid">Amala</h3>
            <div class="star" id="starid">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half alt"></li>
            </div>
            <h3 class="price">N50,000</h3>
            <a href="#" class="ordernow">Order Now</a>
        </div>




    </div>
</section>



<!-- dishes section ends -->

<!-- about section -->


<section class="aboutx" id="aboutid">


    
    <h1 class="our" id="ourid">About us</h1>
    <h3 class="Popular" id="popularid">Why choose us</h3>

    <div class="aboutrow">
        <div class="imagesabout">
            <img src="static\about.jpg" alt="about">
        </div>

        <div class="aboutcontent">
            <h3>Best Food Shop in Lagos-Nigeria</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ducimus id maxime porro quibusdam, deleniti dicta possimus explicabo quae impedit reiciendis iste. Deleniti alias modi soluta aut labore. Dicta, repellendus!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, corporis saepe. Dolorum impedit maxime magnam quisquam ipsum tenetur, doloremque molestias neque ipsam quae tempore ex atque obcaecati vel eos eligendi?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ducimus id maxime porro quibusdam, deleniti dicta possimus explicabo quae impedit reiciendis iste. Deleniti alias modi soluta aut labore. Dicta, repellendus!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, corporis saepe. Dolorum impedit maxime magnam quisquam ipsum tenetur, doloremque molestias neque ipsam quae tempore ex atque obcaecati vel eos eligendi?</p>
            <div class="icons-container">
                <div class="iconsabout">
                    <i class="fas fa-shipping-fast"></i>
                    <span class="aboutspan">Free Delivery</span>
                </div>


                <div class="iconsabout">
                    <i class="fas fa-headset"></i>
                    <span class="aboutspan">24/7 service</span>
                </div>


                <div class="iconsabout">
                    <i class="fas fa-phone"></i>
                    <span class="aboutspan">Call us</span>
                </div>
            </div>
        </div>
    </div>


</section>


<!-- review section starts -->

<section class="review" id="reviewid">

    <h1 class="our" id="ourid">Customer's Review</h1>
    <h3 class="Popular" id="popularid">Latest Review</h3>

    <div class="swiper review-container" id="reviewid">

        <div class="swiper-wrapper review-wrapper" id="wrapper">
            <div class="swiper-slide review-swipper">
                <div class="user">
                    <img class="userimg" src="static\download (2).jpg" alt="">
                    <div class="userinfo">
                        <h3 class="username">The Rock</h3>
                     
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quae, quo incidunt quia laudantium ipsam, cumque debitis reprehenderit ipsum id quos consequuntur obcaecati quam odio quibusdam minima fugiat dolores atque.</p>

                    </div>
                </div>
            </div>
        </div>

        
        <div class="swiper-wrapper review-wrapper" id="wrapper">
            <div class="swiper-slide review-swipper">
                <div class="user">
                    <img class="userimg" src="static\photo-1438761681033-6461ffad8d80.jpg" alt="">
                    <div class="userinfo">
                        <h3 class="username">Mary Jane</h3>
                     
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio dolorem optio dicta recusandae voluptatum quisquam cupiditate porro, aut deserunt iste voluptates labore praesentium ducimus et, provident velit id eligendi ratione.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-wrapper review-wrapper" id="wrapper">
            <div class="swiper-slide review-swipper">
                <div class="user">
                    <img class="userimg" src="static\unnamed.png" alt="">
                    <div class="userinfo">
                        <h3 class="username">Parry Kane</h3>
                     
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, blanditiis saepe. Necessitatibus consectetur quisquam maxime libero explicabo aliquam placeat, fugiat architecto cumque a doloribus blanditiis accusantium ab saepe nobis dicta?</p>


                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-wrapper review-wrapper" id="wrapper">
            <div class="swiper-slide review-swipper">
                <div class="user">
                    <img class="userimg" src="static\depositphotos_12196477-stock-photo-smiling-men-isolated-on-the.jpg" alt="">
                    <div class="userinfo">
                        <h3 class="username">Diego Maldini</h3>
                     
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, blanditiis saepe. Necessitatibus consectetur quisquam maxime libero explicabo aliquam placeat, fugiat architecto cumque a doloribus blanditiis accusantium ab saepe nobis dicta?</p>

                    </div>
                </div>
            </div>
        </div>
        
    </div>




     
</section>


<!-- review section ends -->



<!-- order starts -->

<section class="order" id="orderid">
      
<h1 class="our" id="ourid">Place Order</h1>
<h3 class="Popular" id="popularid">Fill the Form, Place your order</h3>

</section>




<!-- order ends -->








<!-- 
about section ends -->




    <!--Custom JS file -->
    <script src="{% static '\main\script.js' %}"></script>


</body>
</html>




<!-- <div class="hero">
    <nav>
        <h2 class="logo">Oluwaseun<span> T</span></h2>
        <ul>
            
            <li>
                <a href="#">Home</a>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="#">{{request.user}}</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
        <button type="button" onclick=>Subscribe</button>
    </nav>
</div> -->