{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
  
    {% if request.user.is_authenticated %}
<h3>Hello, {{request.user}}</h3>
<button type="submit" ><a href="{% url 'logout' %}">logout</a></button>
{% else %}

<div>
    <nav>
        <div class="cover-logo">
            <a class="logo" href="#">Oluwaseun</a>
        </div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Resource</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
</div>



{% endif %}

<img src="{% static 'credentials\download.jpg' %}" title="Nike" alt="www.google.com">

</body>
</html>